<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="List of key words">
    <meta name="author" content="">

    <title>Simple Landing Page</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script src="js/jqBootstrapValidation.js"></script>

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="#">SIMPLE LANDING PAGE</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#about">ABOUT</a>
                </li>
                <li>
                    <a href="#services">SERVICES</a>
                </li>
                <li>
                    <a href="#contact">CONTACT</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<!-- Header -->

<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="intro-message">
                    <h1 align="left">SIMPLE LANDING PAGE</h1>
                    <h3>
                        <p align="center" style="font-family:'Helvetica', 'Arial', sans-serif;">Coming soon...</p>
                    </h3>
                </div>
            </div>
            <div class="col-md-12">
                <ul class="list-inline">
                    <li>
                        <a href="#services" class="btn btn-custom btn-lg"><i class="fa fa-line-chart fa-fw"></i>
                            <span class="network-name">Service 1</span></a>
                    </li>
                    <li>
                        <a href="#services" class="btn btn-custom btn-lg"><i class="fa fa-university fa-fw"></i>
                            <span class="network-name">Service 2</span></a>
                    </li>
                    <li>
                        <a href="#services" class="btn btn-custom btn-lg"><i class="fa fa-diamond fa-fw"></i>
                            <span class="network-name">Service 3</span></a>
                    </li>
                </ul>
            </div>
            <a href="#about" class="fa fa-angle-down page-scroll fa-3x"></a>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->
<!-- Page Content -->
<a name="about"></a>

<div class="content-section-a">
    <h1 class="section-heading">About US</h1>

    <div class="container">
        <p class="lead" align="justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio,
            adipisci quas excepturi maxime quae totam ducimus consectetur?
        </p>

        <p class="lead" align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium
            recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt.
            Numquam at quae voluptatum in officia voluptas voluptatibus, minus!
        </p>

        <p class="lead" align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nostrum molestiae debitis nobis, quod sapiente qui voluptatum, placeat magni repudiandae accusantium
            fugit quas labore non rerum possimus, corrupti enim modi! Et. </p>
        </p>

    </div>
</div>
<!-- /.container -->

<a name="services"></a>

<div class="content-section-b">
    <h1 class="section-heading">Our Services</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
        <p class="lead" align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium
            recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt.
            Numquam at quae voluptatum in officia voluptas voluptatibus, minus!
        </p>

        <p class="lead" align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nostrum molestiae debitis nobis, quod sapiente qui voluptatum, placeat magni repudiandae accusantium
            fugit quas labore non rerum possimus, corrupti enim modi! Et.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 col-sm-12">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                </span>

                <h2 class="section-heading">Service 1</h2>

                <p class="lead" align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium
            recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt.
            Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-university fa-stack-1x fa-inverse"></i>
                </span>

                <h2 class="section-heading" align="middle">Service 2</h2>

                <p class="lead" align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio,
            adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-diamond fa-stack-1x fa-inverse"></i>
                </span>

                <h2 class="section-heading" align="middle">Service 3</h2>

                <p class="lead" align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nostrum molestiae debitis nobis, quod sapiente qui voluptatum, placeat magni repudiandae accusantium
            fugit quas labore non rerum possimus, corrupti enim modi! Et. </p>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->
<a name="contact"></a>

<div class="banner content-section-a">
    <div class="bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="col-md-12">
                        <div class="section-title center">
                            <h1><strong>Contact us</strong></h1>
                        </div>
                        <form id="contactForm">
                            <div class="row contactlabels">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="senderEmail">Email address</label>
                                        <input type="email" class="form-control" id="senderEmail"
                                               placeholder="Enter your email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="subject">Subject</label>
                                        <input type="subject" class="form-control" id="subject" placeholder="Subject">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group contactlabels">
                                <label for="message">Message</label>
                                <textarea class="form-control" id="message" rows="5"></textarea>
                            </div>
                            <div id="success"></div>
                            <button type="submit" class="btn tf-btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->


<!-- Footer -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>Copyright &copy; SimplePage 2016. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>

<script>
    $(function () {
        $("#contactForm input,#contactForm textarea").jqBootstrapValidation({
            preventSubmit: true,
            submitError: function ($form, event, errors) {
                // additional error messages or events
            },
            submitSuccess: function ($form, event) {
                console.log('Sending message');
                event.preventDefault(); // prevent default submit behaviour
                // get values from FORM
                var email = $("input#senderEmail").val();
                var subject = $("input#subject").val();
                var message = $("textarea#message").val();
                $.ajax({
                    url: "/message",
                    type: "POST",
                    data: {
                        subject: subject,
                        email: email,
                        message: message
                    },
                    cache: false,
                    success: function () {
                        // Success message
                        $('#success').html("<div class='alert alert-success'>");
                        $('#success > .alert-success').html("<button type='button' class='close' " +
                                "data-dismiss='alert' aria-hidden='true'>&times;")
                                .append("</button>");
                        $('#success > .alert-success')
                                .append("<strong>Your message has been sent. </strong>");
                        $('#success > .alert-success')
                                .append('</div>')
                                .hide()
                                .fadeIn(500, function () {
                                    $('#success');
                                });
                        setTimeout(resetAll, 3000);
                        //clear all fields
                        $('#contactForm').trigger("reset");
                    },
                    error: function () {
                        // Fail message
                        $('#success').html("<div class='alert alert-danger'>");
                        $('#success > .alert-danger').html("<button type='button' class='close' " +
                                "data-dismiss='alert' aria-hidden='true'>&times;")
                                .append("</button>");
                        $('#success > .alert-danger').append("<strong>Sorry, " +
                                "it seems that mail server is not responding. Please try again later!");
                        $('#success > .alert-danger').append('</div>');
                        //clear all fields
                        $('#contactForm').trigger("reset");
                    },
                })
            },
            filter: function () {
                return $(this).is(":visible");
            },
        });

        function resetAll() {
            $('#success').html('');
        }

        $("a[data-toggle=\"tab\"]").click(function (e) {
            e.preventDefault();
            $(this).tab("show");
        });
    });
</script>
</body>

</html>
